[Unit]
Description=Line Detection API with Virtual Display
After=network.target dev-ttyACM0.device

[Service]
ExecStartPre=/bin/bash -c 'until [ -e /dev/video0 ]; do sleep 1; done'
ExecStart=/usr/bin/xvfb-run --server-num=99 --server-args="-screen 0 1280x1024x24 -nolisten tcp" env QT_QPA_PLATFORM=offscreen /home/mte380/Desktop/src/.venv/bin/python3 /home/mte380/Desktop/src/line_detection_api.py
WorkingDirectory=/home/mte380/Desktop/src
Restart=always
User=mte380
Environment="DISPLAY=:99"
StandardOutput=append:/home/mte380/Desktop/src/line_detection.log
StandardError=append:/home/mte380/Desktop/src/line_detection_error.log

[Install]
WantedBy=multi-user.target